@font-face {
  font-family: 'Basis Grotesque Pro';
  font-style: normal;
  font-weight: normal;
  src: local('Basis Grotesque Pro'),
    url('./fonts/basis-grotesque-pro-cufonfonts-webfont/BasisGrotesquePro-Regular.woff')
      format('woff');
}

@font-face {
  font-family: 'Basis Grotesque Pro Bold';
  font-style: bold;
  font-weight: bold;
  src: local('Basis Grotesque Pro Bold'),
    url('./fonts/basis-grotesque-pro-cufonfonts-webfont/BasisGrotesquePro-Bold.woff')
      format('woff');
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: black;
  margin: 0 auto;
  font-family: 'Basis Grotesque Pro', sans-serif;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 60rem 60rem;
  grid-template-rows: auto 75rem 45rem 45rem 30rem;
  grid-template-areas:
    'main main'
    'main main'
    'main main'
    'main main'
    'footer footer';
  justify-content: center;
  margin-top: 4rem;
}

header {
  display: flex;
}

.box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
}

.images {
  display: flex;
  flex-direction: column;
}

.resume-img {
  width: 43rem;
  height: 54rem;
}

footer {
  grid-area: footer;
  align-content: flex-end;
}

h1 {
  font-size: 12.5rem;
  line-height: 16.1rem;
  letter-spacing: 0.01em;
  text-align: left;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  margin-left: -1rem;
}

h2 {
  font-family: 'Basis Grotesque Pro Bold', sans-serif;
  font-size: 4rem;
  font-style: bold;
  font-weight: bold;
  line-height: 5.2rem;
  text-align: left;
}

h3 {
  font-size: 4rem;
  font-weight: normal;
  line-height: 5.2rem;
  letter-spacing: 0.01em;
  text-align: left;
  font-style: normal;
  margin-bottom: 1rem;
}

#career-summary {
  margin-top: 8rem;
}

p {
  font-size: 2.3rem;
  line-height: 3rem;
  text-align: left;
  font-style: normal;
  font-weight: normal;
}

ul {
  display: flex;
  height: 30rem;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  justify-content: space-around;
}

#career {
  height: 60rem;
  margin-top: 0;
}

li {
  font-size: 2.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 0em;
  text-align: left;
}

#career-summary {
  margin-top: 8.5px;
}

ul#education {
  margin-top: -0.4rem
;
}

#contacts li {
  font-size: 3rem;
  font-style: normal;
  line-height: 3.9rem;
  letter-spacing: 0.01em;
  padding-bottom: 2.1rem;
}

.vector {
  display: flex;
}

.vector2 {
  margin-bottom: 5rem;
  margin-left: 9.4rem;
  width: 25.4rem;
  height: 4.5rem;
}

.vector6 {
  position: relative;
  width: 8.8rem;
  height: 6.4rem;
  top: 5rem;
  right: 1rem;
  overflow: visible;
}

.vector7 {
  position: relative;
  width: 6.5rem;
  height: 3.7rem;
  top: 5rem;
  left: 5.3rem;
  overflow: visible;
}

a {
  color: inherit;
  position: relative;
  transition: color 275ms ease;
}

a:hover {
  color: rgb(97, 96, 96);
  transition: color 0.1s;
}

@media screen and (max-width: 1440px) {
  .container {
    grid-template-columns: 48rem 48rem;
  }

  h1 {
    font-size: 10rem;
    text-align: center;
  }

  h2 {
    font-size: 3.6rem;
  }

  h3 {
    font-size: 3.6rem;
    margin-top: 2rem;
  }

  p {
    font-size: 2rem;
  }

  li {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  footer img {
    width: 32rem;
    height: auto;
  }

  #contacts li {
    font-size: 1.8rem;
  }

  .vector6 {
    top: 3rem;
  }

  .vector2 {
    margin-left: 14rem;
  }

  .vector7 {
    top: 2rem;
  }
}

@media screen and (max-width: 1023px) {
  .container {
    grid-template-columns: minmax(300px, 700px);
    grid-template-rows: auto auto auto auto auto auto auto auto 20rem;
    grid-template-areas:
      'main'
      'main'
      'main'
      'main'
      'main'
      'main'
      'main'
      'main'
      'footer'
      'footer';
    margin: 2rem 3rem 0 3rem;
  }

  .intro {
    flex-wrap: nowrap;
  }

  .resume-img {
    width: 55%;
    height: auto;
  }

  .vector2 {
    align-content: center;
    margin-bottom: 2rem;
    margin-left: 2rem;
  }

  .vector6 {
    width: 6rem;
    height: auto;
    top: 1rem;
  }

  .vector7 {
    width: 4rem;
    height: auto;
    top: 0rem;
    left: 3.3rem;
  }
  footer {
    align-items: center;
  }

  footer img {
    width: 28rem;
    height: auto;
  }

  h3 {
    font-size: 3.6rem;
  }

  h2 {
    font-size: 3.5rem;
    font-family: 'Basis Grotesque Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    margin-left: -2px;
  }

  h1 {
    line-height: 10rem;
    text-align: left;
  }

  p {
    font-size: 1.6rem;
  }

  ul,
  #career {
    height: auto;
  }

  ul#education {
    margin-top: 1rem
  ;
  }

  li {
    padding-bottom: 2rem;
  }

  #contacts li {
    font-size: 3rem;
  }
}

@media screen and (max-width: 500px) {
  .container {
    margin: 0 2rem;
  }

  br {
    display: none;
  }

  .box {
    margin: 0;
  }

  .resume-img {
    width: 100%;
    height: auto;
  }

  .images {
    align-items: center;
  }

  .resume {
    height: 8rem;
  }

  .resume2 {
    height: 5rem;
  }

  .vector2 {
    width: 23.6rem;
    height: auto;
    margin-bottom: 1.7rem;
  }

  h1 {
    font-size: 8rem;
    margin-left: -8px;
  }

  h3 {
    font-size: 3.2rem;
    margin: 1rem 0;
    line-height: 4.3rem;
  }

  p {
    font-size: 2rem;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 0;
    margin-bottom: 2rem;
  }

  li {
    font-size: 2rem;
    line-height: 2.58rem;
  }

  #contacts li a {
    text-decoration: none;
  }

  #education {
    margin-bottom: 2rem;
  }

  .vector6 {
    top: 0;
  }
}
